<form [formGroup]="critiqueForm" class="form-container">
  <mat-form-field class="form-field">
    <input matInput formControlName="nom" placeholder="Votre nom">
    <mat-error *ngIf="critiqueForm.get('nom')?.hasError('required')" i18n>
      Le nom est obligatoire.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-field">
    <input matInput formControlName="prenom" placeholder="Votre prénom">
  </mat-form-field>

  <div class="rating" (mouseleave)="clearTemporaryRating()">
    <ng-container *ngFor="let star of stars; let i = index">
      <mat-icon
        [ngClass]="{'rated': rating >= i + 1, 'hovered': temporaryRating >= i + 1}"
        (click)="setRating(i + 1)"
        (mouseenter)="setTemporaryRating(i + 1)"
      >star</mat-icon>
    </ng-container>
  </div>

  <mat-form-field class="form-field">
    <input matInput [value]="rating" placeholder="Votre note" readonly>
  </mat-form-field>

  <mat-form-field class="form-field">
    <textarea matInput formControlName="texte" placeholder="Votre critique"></textarea>
    <mat-error *ngIf="critiqueForm.get('texte')?.hasError('max')" i18n>
      La critique ne doit pas dépasser 500 caractères.
    </mat-error>
  </mat-form-field>

  <div class="button-group">
    <button mat-raised-button color="primary" (click)="enregistrerCritique()" i18n>Enregistrer</button>
    <button mat-button (click)="fermerModal()"i18n>Annuler</button>
  </div>
</form>
