.attraction-title {
  font-size: 18px;
  font-weight: 500;
  background-color: darkgrey;
  width: fit-content;
  margin-top: 25px;
}
.attraction {
  display: flex;
  align-items: center;
  column-gap: 25px;
  width: fit-content;

  border-bottom: solid 1px grey;
  span {
    padding: 5px;
    width: 250px;
  }
}

mat-form-field {
  display: block;
  margin-bottom: 15px; /* Ajustez la marge selon vos préférences */
}

.button-group {
  margin-top: 20px; /* Espace entre les champs et les boutons */
}
